# Database Configuration (MySQL)
DB_SERVER=localhost
DB_PORT=3306
DB_DATABASE=day_mendes_store
DB_USER=root
DB_PASSWORD=

# JWT Configuration
JWT_SECRET_KEY=
JWT_ISSUER=DayMendesStore
JWT_AUDIENCE=DayMendesStoreApp
JWT_EXPIRATION_HOURS=2
